<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sviolet.demoaimageloader">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".GuideActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".demos.BasicActivity"
            android:label="@string/basic_title"/>
        <activity android:name=".demos.GifActivity"
            android:label="@string/gif_title"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".demos.ListViewActivity"
            android:label="@string/list_view_title"/>
        <activity android:name=".demos.RoundedListActivity"
            android:label="@string/rounded_list_title"/>
        <activity android:name=".demos.RecyclerViewActivity"
            android:label="@string/recycler_view_title"
            android:theme="@style/Theme.AppCompat.Light"/>

    </application>

</manifest>