.gradle
/.idea/workspace.xml
/.idea/libraries
/.idea/statistic.xml
/.idea/gradle_extensions.xml
/.idea/caches
/build
/captures
/demoa/buildlog
/demoa.imageloader/buildlog
/local.properties
.DS_Store
/release
/backup