<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sviolet.demoa">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- android:resizableActivity="false" 禁用7.0多窗口 -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".GuideActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".slide.SlideActivity"
            android:label="@string/slide_main_title" />
        <activity
            android:name=".slide.DrawerSlideActivity"
            android:label="@string/slide_drawer_title" />
        <activity
            android:name=".slide.ZoomDrawerSlideActivity"
            android:label="@string/slide_zoomdrawer_title"
            android:theme="@style/AppTheme_NoTitle" />
        <activity
            android:name=".slide.FlingSlideActivity"
            android:label="@string/slide_fling_title"
            android:theme="@style/AppTheme_NoTitle" />
        <activity
            android:name=".slide.CardSlideActivity"
            android:label="@string/slide_card_title"
            android:theme="@style/AppTheme_NoTitle" />
        <activity android:name=".slide.ListSlideActivity"
            android:label="@string/slide_list_title"/>
        <activity android:name=".slide.ActivitySlideActivity"
            android:label="@string/slide_activity_title" />
        <activity android:name=".slide.SubActivitySlideActivity"
            android:label="@string/slide_activity_title"
            android:theme="@style/AppTheme_Translucent"/>

        <activity android:name=".refresh.RefreshActivity"
            android:label="@string/refresh_title"/>
        <activity android:name=".refresh.OverDragRefreshActivity"
            android:label="@string/refresh_overdrag_title"/>
        <activity android:name=".refresh.RefreshIndicatorRefreshActivity"
            android:label="@string/refresh_refreshindicator_title"/>
        <activity android:name=".refresh.CircleDropIndicatorRefreshActivity"
            android:label="@string/refresh_circledrop_title"/>

        <activity android:name=".other.OtherActivity"
            android:label="@string/other_title"/>
        <activity android:name=".other.ShadowOtherActivity"
            android:label="@string/other_shadow_title"/>
        <activity android:name=".other.GradualTitleOtherActivity"
            android:label="@string/other_gradualtitle_title"/>
        <activity android:name=".other.RuntimePermissionOtherActivity"
            android:label="@string/other_runtime_permission_title"/>
        <activity android:name=".other.MotionImageOtherActivity"
            android:label="@string/other_motion_image_title"/>
        <activity android:name=".other.MultiItemViewPagerOtherActivity"
            android:label="@string/other_multiitem_viewpager_title"/>
        <activity android:name=".other.TabViewOtherActivity"
            android:label="@string/other_tab_view_title"/>
        <activity android:name=".other.TabViewHelperOtherActivity"
            android:label="@string/other_tab_view_helper_title"/>

        <activity android:name=".TempActivity"
            android:label="@string/temp_main_title"/>
    </application>

</manifest>
